/* general */
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* clearfix */
.group:before,
.group:after {
	content: " ";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	*zoom: 1;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 100%;
    background-image: url(../img/bg-pattern-top.svg), url(../img/bg-pattern-bottom.svg);
    background-color: hsl(185, 75%, 39%);
    background-repeat: no-repeat;
    background-position: -17em -30em, 40em 28em;
}

/* profile card */
main {
    margin: 15em auto 1em;
    max-width: 21.875em; 
    height: max-content;
    text-align: center;
    background-color: #fff;
    border-radius: 5% 5% 4% 4%;
}

main img:first-of-type {
    border-radius: 1em 1em 0 0;
}

/* profile photo */
.profile-photo {
    margin-top: -3.75em;
    border-radius: 50%;
    border: solid 0.35em #fff;
}

/* profile name, age, city */
main h1 {
    font-size: 1.125em;
    font-weight: 700;
}

.age {
    margin-left: 0.625em;
    color: hsl(0, 0%, 59%);
    font-weight: 500;
}

.city {
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    border-bottom: solid 0.01em hsl(0, 0%, 85%);
    padding-bottom: 1.5em;
    margin-bottom: 0;
}

/* profile stats */
.group {
    margin: 0 auto;
    padding: 1em;
}

.group li {
    list-style: none;
    font-size: 1.125em;
    font-weight: 700;
    padding-left: 2.3em;
}

.followers {
    float: left;
}

.likes {
    float: left;
}

.photos {
    float: left;
}

.stats {
    font-size: 0.7em;
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    margin-top: 0.3125em;
}

/* Footer Signature */
.attribution { font-size: 0.6875em; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Media Queries - Mobile: 375px - Desktop: 1440px */